body {
  margin: 0;
}

#main {
  height: 100vh;
}

#header {
  padding: 1rem;
}

#main h1 {
  margin: 0;
}

.row {
  display: flex;
}

.row.middle {
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.expand {
  flex: 1;
}

.ace-tm .ace_marker-layer .ace_active-line {
  background: rgba(0, 0, 0, 0.03);
}
